@mixin respond($breakpoint) {
  @if $breakpoint == xs-phone {
    //320px
    @media only screen and (max-width: 20em) {
      @content;
    }
  }
  @if $breakpoint == phone {
    //600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    //900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    //1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}

@mixin grid($columns: 12) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: auto;
  column-gap: $grid-spacing-input;
  row-gap: $grid-spacing-input;
}

@mixin gradient-top {
  background: rgba(250, 248, 248, 1);
  background: -moz-linear-gradient(
    top,
    rgba(250, 248, 248, 1) 0%,
    rgba(250, 248, 248, 1) 81%,
    rgba(242, 239, 242, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(250, 248, 248, 1)),
    color-stop(81%, rgba(250, 248, 248, 1)),
    color-stop(100%, rgba(242, 239, 242, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(250, 248, 248, 1) 0%,
    rgba(250, 248, 248, 1) 81%,
    rgba(242, 239, 242, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(250, 248, 248, 1) 0%,
    rgba(250, 248, 248, 1) 81%,
    rgba(242, 239, 242, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(250, 248, 248, 1) 0%,
    rgba(250, 248, 248, 1) 81%,
    rgba(242, 239, 242, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(250, 248, 248, 1) 0%,
    rgba(250, 248, 248, 1) 81%,
    rgba(242, 239, 242, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf8f8', endColorstr='#f2eff2', GradientType=0 );
}

@mixin gradient-bottom {
  background: rgba(242, 239, 242, 1);
  background: -moz-linear-gradient(
    top,
    rgba(242, 239, 242, 1) 0%,
    rgba(250, 248, 248, 1) 19%,
    rgba(250, 248, 248, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(242, 239, 242, 1)),
    color-stop(19%, rgba(250, 248, 248, 1)),
    color-stop(100%, rgba(250, 248, 248, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(242, 239, 242, 1) 0%,
    rgba(250, 248, 248, 1) 19%,
    rgba(250, 248, 248, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(242, 239, 242, 1) 0%,
    rgba(250, 248, 248, 1) 19%,
    rgba(250, 248, 248, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(242, 239, 242, 1) 0%,
    rgba(250, 248, 248, 1) 19%,
    rgba(250, 248, 248, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(242, 239, 242, 1) 0%,
    rgba(250, 248, 248, 1) 19%,
    rgba(250, 248, 248, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2eff2', endColorstr='#faf8f8', GradientType=0 );
}

@mixin logo-gradient {
  background: rgba(235, 233, 249, 1);
  background: -moz-linear-gradient(
    top,
    rgba(235, 233, 249, 1) 0%,
    rgba(216, 208, 239, 1) 50%,
    rgba(206, 199, 236, 1) 51%,
    rgba(193, 191, 234, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(235, 233, 249, 1)),
    color-stop(50%, rgba(216, 208, 239, 1)),
    color-stop(51%, rgba(206, 199, 236, 1)),
    color-stop(100%, rgba(193, 191, 234, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(235, 233, 249, 1) 0%,
    rgba(216, 208, 239, 1) 50%,
    rgba(206, 199, 236, 1) 51%,
    rgba(193, 191, 234, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(235, 233, 249, 1) 0%,
    rgba(216, 208, 239, 1) 50%,
    rgba(206, 199, 236, 1) 51%,
    rgba(193, 191, 234, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(235, 233, 249, 1) 0%,
    rgba(216, 208, 239, 1) 50%,
    rgba(206, 199, 236, 1) 51%,
    rgba(193, 191, 234, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(235, 233, 249, 1) 0%,
    rgba(216, 208, 239, 1) 50%,
    rgba(206, 199, 236, 1) 51%,
    rgba(193, 191, 234, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=0 );
}
