// COLORS
$color-primary: #29a19c;
$color-primary-light: #2acec8;
$color-primary-dark: #10807c;

$logo-back: #f05454;

$color-grey-light: #fafafa;

$color-red: #f05454;

$color-white: #fff;
$color-black: #000;
$color-black-light: rgba(40, 40, 70, 0.1);

$box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);

$border-input: 1px solid rgba(40, 40, 70, 0.1);

//---------------------------------

$background-col: #FFFFFF;
$filler-col: #FAF9F9;
$input-col: #FAF8F8;
$nav-col: #F1F0F0;
$nav-footer-border-col:#D7D5D5;

$grid-border-color: #1d1d1d;

//------------------------Button

$button-border: 1px solid $grid-border-color;
$button-border-radius: 0px;

//------------------------Grid

$grid-spacing-input: 1rem;



