// COLORS
$color-primary: #29a19c;
$color-primary-light: #2acec8;
$color-primary-dark: #10807c;

$logo-back: #f05454;

$color-grey-light: #fafafa;

$color-red: #f05454;

$color-white: #fff;
$color-black: #000;
$color-black-light: rgba(40, 40, 70, 0.1);

$box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);

$border-input: 1px solid rgba(40, 40, 70, 0.1);

//---------------------------------

$background-col: #ffffff;
$filler-col: #faf9f9;
$input-col: #faf8f8;
$nav-col: #f1f0f0;
$nav-footer-border-col: #d7d5d5;

$grid-border-color: #1d1d1d;

//------------------------Button

$button-border: 1px solid $grid-border-color;
$button-border-radius: 0px;

//------------------------Grid

$grid-spacing-input: 1rem;

//-------------------------Font
$default-font-size: 1.6rem;
