.hero-text-large {
  font-size: 7rem;
  line-height: 6rem;
}
.hero-text-small {
  font-size: 2rem;
  line-height: 1.8rem;
}

.carousel-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.slider-click-right {
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.slider-click-left {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
