.border-top {
  border-top: 1px solid $grid-border-color;
}

.border-bottom {
  border-bottom: 1px solid $grid-border-color;
}

.border-left {
  border-left: 1px solid $grid-border-color;
}

.border-right {
  border-right: 1px solid $grid-border-color;
}

.border-right-none {
  border-right: 0px;
}

.border{
  border: 1px solid $grid-border-color;
}

//--------------------borders-nav

.border-bottom-nav{
  border-bottom: 1px solid $nav-footer-border-col;
}

.border-top-nav{
  border-top: 1px solid $nav-footer-border-col;
}

.border-left-nav{
  border-left: 1px solid $nav-footer-border-col;
}

.border-right-nav{
  border-right: 1px solid $nav-footer-border-col;
}