.button-grid-2fr {
  border-radius: $button-border-radius;
  border: $button-border;
  background-color: $background-col;
  font-family: $L10-Reg;
  height: 3rem;
  font-size: 1rem;
  grid-column-end: span 2;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    background-color: $nav-footer-border-col;
    color: $color-black;
    box-shadow: $box-shadow;
    transition: 0.5s;
  }
  a {
    text-decoration: none;
  }
}

.button-link {
  color: #494a49;
    &:hover {
        cursor: pointer;
        background-color: $color-primary-dark;
        color: $color-black;
        transition: 0.25s;
        font-weight: bolder;
      }
    &:visited {
        color: #919191;
        &:hover {
          cursor: pointer;
          background-color: $color-primary-light;
          color: $color-black;
          transition: 0.25s;
          font-weight: bolder;
        }
      }
    a {
        text-decoration: none;
      }
}

.button-link-short {
  color: $grid-border-color;
  font-family: $L10-Reg;
  padding: 1% 6%;
  border-radius: 2px;
  border: $button-border;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
    &:hover {
        cursor: pointer;
        background-color: $grid-border-color;
        color: $background-col;
        transition: 0.25s;
        font-weight: bolder;
      } 
    
}