.button-primary {
  background-color: $background-col;
  // border-radius: 0.8rem;
  padding: 1rem 2.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: $color-black;
  font-size: 1.6rem;
  border: 1px solid $color-black;

  &:hover {
    cursor: pointer;
    background-color:$nav-footer-border-col;
    // box-shadow: $box-shadow;
    // color: $color-white;
    transition: 0.5s;
    // border: 1px solid transparent;
  }

  &:active {
    transform: translateY(2px);
  }
}
