.create-project-form {
  background-color: #ebebea;
  // height: 70%;
  width: 60%;
  border-radius: 0.6rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.1);
  padding: 2rem;

  @include respond(tab-port) {
    // height: 70%;
    width: 90%;
  }

  @include respond(phone) {
    // height: 70%;
    width: 100%;
  }

  &__heading {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
  }

  &__group:not(:last-child) {
    margin-bottom: 3.5rem;
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    color: $color-grey-dark-2;
    margin-left: 2rem;
    margin-top: 0.9rem;
    display: block;

    transition: all 0.3s;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 0.6rem;
    border: none;
    background-color: rgba($color-white, 0.5);
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__buttons-container {
    display: flex;
    justify-content: flex-end;
  }

  &__buttons-container > input {
    margin-right: 2rem;
  }
}
