.job-card {
  margin: 2rem 0;
  //   border: 1px solid #ededed;
  display: flex;
  border-radius: 0.5rem;
  box-shadow: $box-shadow;

  @include respond(tab-port) {
    align-items: center;
    flex-direction: column;
  }

  &__info,
  &__avatar {
    width: 50%;
    padding: 2rem 2.5rem;
    position: relative;
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__avatar {
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #2c5364,
      #203a43,
      #0f2027
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #2c5364,
      #203a43,
      #0f2027
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &__info > *:not(:last-child) {
    margin-bottom: 2.2rem;
  }

  &__heading {
    color: $color-grey-dark-3;
    font-size: 2.5rem;
    padding: 0 2.2rem;
  }

  &__text {
    font-size: 1.5rem;
    line-height: 2.3rem;
    letter-spacing: 0.05rem;
    white-space: pre-wrap;
    color: $color-grey-dark-3;
    text-align: center;
    padding: 0 2.2rem;
  }

  &__updateJob > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  &__updateDescription > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &__trash {
    text-align: end;
  }

  &__participant {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--add > *:not(:last-child),
    &--input > *:not(:last-child),
    &--avatar > *:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    &--add {
      text-align: center;
      color: $color-white;
    }

    &--input {
      text-align: center;
      color: $color-white;
      height: 100%;
      width: 100%;
    }

    &--avatar {
    }
  }
}
