.content-margin-top {
  margin-top: 15vh;
}

.content-margin-top2 {
  margin-top: 6vh;
}

.margin-bttm-s {
  margin-bottom: 1rem;
}
.margin-bttm-m {
  margin-bottom: 2rem;
}
.margin-bttm-l {
  margin-bottom: 3rem;
}
.margin-bttm-xl {
  margin-bottom: 4rem;
}

