.notifications-section {
  padding-bottom: 15rem;
}

.notifications-box {
  background-image: linear-gradient(
    to right,
    rgba(235, 235, 234, 0.3),
    rgba(235, 235, 234, 0.4)
  );
  margin: 5rem auto;
  padding: 2rem;
  width: 70%;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.1);

  @include respond(tab-port) {
    width: 100%;
    padding: 1.5rem;
  }

  &__tab-bar {
    display: flex;
    padding-bottom: 2rem;
  }

  &__tab {
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 0.08rem;
    padding: 0.2rem 0.5rem;
    &:first-child {
      margin-right: 2rem;
    }
    &--show {
      border-bottom: 2px solid $color-black;
    }

    &--hide {
      color: $color-grey-dark-2;
    }
  }

  &__all-notifications > *:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.notification {
  position: relative;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  color: $color-grey-dark-3;
  margin: 0.5rem auto;
  width: 90%;
  padding: 2rem;
  box-shadow: $box-shadow;

  @include respond(tab-port) {
    width: 100%;
  }

  @include respond(phone) {
    padding-top: 3.5rem;
  }

  & > *:not(:last-child) {
    margin-bottom: 3.5rem;
  }

  &__top {
    // text-align: end;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__info-box {
    display: flex;
    & > *:not(:last-child) {
      @include respond(phone) {
        padding-right: 3rem;
      }
    }
    &--data > *:not(:last-child) {
      margin-bottom: 1rem;
    }

    &--status {
      margin: auto;
    }
  }
  &__data > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__data h2 {
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__status {
    &--pending {
      color: $color-secondary-light;
    }
    &--rejected {
      color: $color-red;
    }
    &--accepted {
      color: $color-primary;
    }
  }

  &__message-box > *:not(:last-child) {
    margin-bottom: 3.5rem;
  }

  &__message-box {
    // border: 1px solid #929eae;
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    background-color: $color-white;

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__message {
    &--from-user {
      display: flex;
      align-items: flex-end;
    }
    &--open {
      background-color: unset;
      border: none;
      cursor: pointer;
      margin-bottom: 0.9rem;
      margin-left: 3.3rem;
      transition: 0.5s;
      & i {
        font-size: 1.6rem;
      }
      &:hover {
        color: green;
      }
      &:active {
        transform: translateY(2px);
      }
    }

    &--from-user-avatar {
      margin-right: 1rem;
      padding-bottom: 2.5rem;
    }

    &--container > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &--time {
      margin-left: auto;

      & p {
        text-align: end;
        color: $color-grey-dark-2;
        font-weight: 100;
        font-size: 1.2rem;
      }
    }

    &--from-user {
      width: 85%;
      margin-right: auto;
    }

    &--from-user-text {
      padding: 1.5rem;
      background-image: linear-gradient(
        to right,
        rgba(235, 235, 234, 0.3),
        rgba(235, 235, 234, 0.4)
      );
      border-radius: 2rem;
      //   width: 75%;

      & p {
        word-break: break-all;
        line-height: 2rem;
        white-space: pre-wrap;
      }
    }

    &--to-user {
      width: 75%;
      margin-left: auto;
    }

    &--to-user-text {
      background: #41295a;
      background: -webkit-linear-gradient(to right, #2f0743, #41295a);
      background: linear-gradient(to right, #2f0743, #41295a);
      color: $color-white;
      padding: 1.5rem;
      border-radius: 2rem;
      //   width: 75%;

      margin-left: auto;
      & p {
        word-break: break-all;
        line-height: 2rem;
        white-space: pre-wrap;
      }
    }
  }

  &__acction-buttons {
    text-align: right;
    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
