
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
}

.deko-bars-container-footer {
  width: 100%;
  height: 1.2rem;
  overflow: hidden;
  position: relative;

  .curve-left {
    height: 2.4rem;
    width: 2.4rem;
    background-color: $background-col;
    border-radius: 1.2rem;
    position: absolute;
    bottom: 0px;
    left: -1.2rem;
  }
  .curve-right {
    height: 2.4rem;
    width: 2.4rem;
    background-color: $background-col;
    border-radius: 1.2rem;
    position: absolute;
    bottom: 0px;
    right: -1.2rem;
  }
}

.border-footer {
  width: 100%;
  height: 3rem;
  @include gradient-bottom
}
