.navigation {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  @include gradient-top;

  .logo {
    height: 100%;
    margin-right: 0px;
    @include logo-gradient;
    img {
      height: 3rem;
      width: auto;
      margin-left: 1.5rem;
      margin-right: 1.6rem;
      padding: 0.2rem;
      padding-top: 0.3rem;
    }
  }

  &__logoBox {
    display: flex;
    align-items: center;
  }

  &__logoBox > *:not(:last-child) {
    margin-right: 4rem;
  }

  &__title {
    // margin-left: 1.5rem;
    font-size: 1.3rem;
    color: $color-black;
    font-weight: 600;
    line-height: 2.2rem;
  }

  &__list {
    list-style: none;
    margin-right: 1rem;
    display: flex;
    align-items: center;
  }

  @include respond(tab-port) {
    &__list > *:not(:last-child) {
      display: none;
    }
  }

  &__link,
  &:link,
  &:visited {
    font-size: 1.3rem;
    margin-right: 2.5rem;
    text-decoration: none;
    color: $color-black;
    font-weight: 600;
  }

  &__logoBox:hover &__logo,
  &__logoBox:hover &__title {
    color: $color-primary-dark;
    transition: 0.5s;
  }
}

//deko-------------------------

.deko-bars-container-nav {
  width: 100%;
  height: 1.2rem;
  overflow: hidden;
  position: relative;

  .curve-left {
    height: 2.4rem;
    width: 2.4rem;
    background-color: $background-col;
    border-radius: 1.2rem;
    position: absolute;
    top: 0px;
    left: -1.2rem;
  }
  .curve-right {
    height: 2.4rem;
    width: 2.4rem;
    background-color: $background-col;
    border-radius: 1.2rem;
    position: absolute;
    top: 0px;
    right: -1.2rem;
  }
}

.bar {
  width: 100%;
  height: 0.4rem;
  @include gradient-bottom;
}

.outMsg {
  height: 60px;
  font-size: 33px;
  color: aliceblue;
  background-image: linear-gradient(to right, #60769a, #2f4f8f);
  display: flex;
  justify-content: center;
  align-items: center;
}
