.grid-container {
  @include grid;
}

.grid-container-feed {
  @include grid(5);
}

.grid-container-left {
  @include grid(2);
}

.grid-container-right {
  @include grid(4);
}

.grid-footer {
  @include grid(10);
}

.grid-edit-profile {
  @include grid(6);
}

.grid-landing-buttons {
  @include grid(4);
}

.grid-col-1 {
  grid-column-start: 1;
}
.grid-col-2 {
  grid-column-start: 2;
}
.grid-col-3 {
  grid-column-start: 3;
}
.grid-col-4 {
  grid-column-start: 4;
}
.grid-col-5 {
  grid-column-start: 5;
}
.grid-col-6 {
  grid-column-start: 6;
}
.grid-col-7 {
  grid-column-start: 7;
}
.grid-col-8 {
  grid-column-start: 8;
}
.grid-col-9 {
  grid-column-start: 9;
}

.grid-col-span-6 {
  grid-column-end: span 6;
}
.grid-col-span-5 {
  grid-column-end: span 5;
}
.grid-col-span-2 {
  grid-column-end: span 2;
}
.grid-col-span-4 {
  grid-column-end: span 4;
}

.grid-row-1 {
  grid-row-start: 1;
}
.grid-row-2 {
  grid-row-start: 2;
}

.grid-row-3 {
  grid-row-start: 3;
}

.grid-row-4 {
  grid-row-start: 4;
}

.grid-row-5 {
  grid-row-start: 5;
}
.grid-row-6 {
  grid-row-start: 6;
}
.grid-row-7 {
  grid-row-start: 7;
}
.grid-row-8 {
  grid-row-start: 8;
}




.grid-row-end-10{
  grid-row-end: span 10;
}



.justify-items-end {
  justify-items: end;
}
.justify-items-center {
  justify-items: center;
}
.justify-self-center {
  justify-self: center;
}
.grid-col-span-3 {
  grid-column-end: span 3;
}
.grid-col-span-4 {
  grid-column-end: span 4;
}
.grid-col-span-5 {
  grid-column-end: span 5;
}
.grid-col-span-10 {
  grid-column-end: span 10;
}

.grid-temp-col {
	grid-template-columns: repeat(4, auto); /*Creates 4 columns, each 100px in width*/
	
}

#project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25rem);
  grid-gap: 20px;
}

