.grid-container {
  @include grid;
}

.grid-container-feed {
  @include grid(5);
}

.grid-container-left {
  @include grid(2);
 
}

.grid-container-right {
  @include grid(4);
}

.grid-footer {
  @include grid(10);
}

.grid-col-1 {
  grid-column-start: 1;
}
.grid-col-2 {
  grid-column-start: 2;
}
.grid-col-3 {
  grid-column-start: 3;
}
.grid-col-4 {
  grid-column-start: 4;
}
.grid-col-7 {
  grid-column-start: 7;
}
.grid-col-8 {
  grid-column-start: 8;
}
.grid-col-9 {
  grid-column-start: 9;
}

.grid-col-span-5 {
  grid-column-end: span 5;
}
.grid-col-span-2 {
  grid-column-end: span 2;
}
.grid-col-span-4 {
  grid-column-end: span 4;
}

.grid-row-2 {
  grid-row-start: 2;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-self-center {
  justify-self: center;
}

.grid-col-span-3 {
  grid-column-end: span 3;
}
.grid-col-span-5 {
  grid-column-end: span 5;
}

.grid-col-span-10 {
  grid-column-end: span 10;
}
